# Set the design name
DESIGN my_padframe;

# Define the total chip area in microns
AREA 2000 2000; 

# Placement grid size in microns
GRID 0.5;

# Place the corners
# CORNER <instance name> <location> <cell name> ;

CORNER CORNER_1 SE sky130_ef_io__corner_pad ;
CORNER CORNER_2 SW sky130_ef_io__corner_pad ;
CORNER CORNER_3 NE sky130_ef_io__corner_pad ;
CORNER CORNER_4 NW sky130_ef_io__corner_pad ;

PAD PADdataa0 N sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdataa1 N sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdataa2 N sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdataa3 N sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdataa4 N sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdataa5 N sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdataa6 N sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdataa7 N sky130_ef_io__gpiov2_pad_wrapped ;

PAD PADdatab0 S sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdatab1 S sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdatab2 S sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdatab3 S sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdatab4 S sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdatab5 S sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdatab6 S sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADdatab7 S sky130_ef_io__gpiov2_pad_wrapped ;

PAD PADclk   W sky130_ef_io__gpiov2_pad_wrapped ; 
PAD PADaclr  W sky130_ef_io__gpiov2_pad_wrapped ; 
PAD PADVDD_1 W sky130_ef_io__vddio_hvc_clamped_pad ;
PAD PADGND_1 W sky130_ef_io__vssio_hvc_clamped_pad ;
PAD PADclken W sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADsload W sky130_ef_io__gpiov2_pad_wrapped ;

PAD PADadder_out0 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out1 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out2 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out3 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out4 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out5 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out6 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out7 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out8 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out9 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out10 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out11 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out12 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out13 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out14 E sky130_ef_io__gpiov2_pad_wrapped ;
PAD PADadder_out15 E sky130_ef_io__gpiov2_pad_wrapped ;